body{
    font-size:2rem;
}

div{
    position:absolute;
    width:30vw;
    height:60vh;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

a{
    background-color: blue;
    color:white;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}